<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <div class="panel-body">                    
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmitted()">
                        <fieldset>
                            <div class="form-group" [ngClass]="{'has-error': controls.email.touched && controls.email.invalid}">
                                <input class="form-control" placeholder="E-mail" type="email"  formControlName="email"  required autofocus>
                                <span *ngIf="controls.email.invalid && controls.email.touched" class="help-block text-danger">Email is required</span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': controls.mobile.touched && controls.mobile.invalid}">
                                <input class="form-control" placeholder="Mobile Number" type="text"  formControlName="mobile" required>
                                <span *ngIf="controls.mobile.invalid && controls.mobile.touched" class="help-block text-danger">Mobile is required</span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': controls.password.touched && controls.password.invalid}">
                                <input class="form-control" placeholder="Password" type="password"  formControlName="password" required>
                                <span *ngIf="controls.password.invalid && controls.password.touched" class="help-block text-danger">Password is required</span>
                            </div> 
                            <div class="form-group" [ngClass]="{'has-error': controls.cpassword.touched && controls.cpassword.invalid}">
                                <input class="form-control" placeholder="Confirm Password" type="password" formControlName="cpassword" required>
                                <span *ngIf="controls.cpassword.invalid && controls.cpassword.touched" class="help-block text-danger">Confirm Password is required</span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': controls.usertype.touched && controls.cpassword.invalid}">
                                <select class="form-control" formControlName="usertype" required>
                                    <option value="customer" selected>Customer</option>
                                    <option value="agent">Agent</option>
                                </select>
                                <span *ngIf="controls.usertype.invalid && controls.usertype.touched" class="help-block text-danger">User Type is required</span>
                            </div>                            
                            <button type="submit" class="btn btn-lg btn-success btn-block">Sign Up</button>
                            <p><a [routerLink]="['/login']" class="btn btn-lg btn-info btn-block">Login</a></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>